In [1]:
## Importing Necessary Packages 
import pandas as pd 
from pathlib import Path

In [2]:
# Importing CSV and Opening with Pandas 
csv_path = Path("C:/Users/apala/BOOTCAMP/python_challenge/Starter_Code/PyBank/Resources/budget_data.csv")

In [3]:
## Displaying CSV using Pandas 
budget_data = pd.read_csv(csv_path)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
#Printing number of dates in sample 

Date_Frequency1 = budget_data["Date"].count()
date_frequency = print("Total Months:  " +  str(Date_Frequency1))

Total Months:  86

In [26]:
#Net profit made over the period 

Net_Profit = budget_data["Profit/Losses"].sum()

Net_Profit = print("Net Profit:  " + "$"+str(Net_Profit1))

Net Profit:  $38382578

In [6]:
#Average Change in Prices 

change_profit = budget_data["Profit/Losses"].diff()
avg_change = change_profit.mean()
avg_change2  = round(avg_change, 2)
Average_Change = print("Average Change:  " + "$"+ str(avg_change2))

Average Change:  $-2315.12

In [7]:
#creating new dataframe 
budget_data['Change in Profit'] = budget_data["Profit/Losses"].diff() #Adding column

budget_data.head()

       Date  Profit/Losses  Change in Profit
0  Jan-2010         867884               NaN
1  Feb-2010         984655          116771.0
2  Mar-2010         322013         -662642.0
3  Apr-2010         -69417         -391430.0
4  May-2010         310503          379920.0

In [8]:
max_change_profit = budget_data['Change in Profit'].max()

max_change_profit

1926159.0

In [18]:
max_change_date = budget_data[budget_data['Change in Profit'] == 1926159.0 ]['Date']

max_change_date=max_change_date.to_list()[0]

In [20]:
print(f'Greatest Increase in Profits: {max_change_date} {max_change_profit}' )

Greatest Increase in Profits: Feb-2012 1926159.0

In [11]:
min_change_profit = budget_data['Change in Profit'].min()

min_change_profit

-2196167.0

In [21]:
min_change_date = budget_data['Date'][budget_data['Change in Profit'] == -2196167.0 ]

min_change_date = min_change_date.to_list()[0]

In [22]:
print(f'Greatest Increase in Profits: {min_change_date} {min_change_profit}' )

Greatest Increase in Profits: Sep-2013 -2196167.0

In [24]:
budget_data.to_csv('budget_data.txt', sep = "\t", index = False)

In [28]:
with open("budget_data.txt", "w") as file:
    file.write(f"Financial Analysis \n")
    file.write(f'------------------------ \n')
    file.write(f"total months: {total_months} \n")
    file.write(f"Net Profit: {Net_Profit} \n")
    file.write(f'Average Change: {Average_Change} \n')
    file.write(f'Greatest Increase in Profits: {max_change_date} {max_change_profit} \n')
    file.write(f'Greatest Decrease in Profits: {min_change_date} {min_change_profit} \n')
    file.write('text')