In [1]:
## Importing Necessary Packages 
import pandas as pd 
from pathlib import Path

In [185]:
# Importing CSV and Opening with Pandas 
csv_path = Path("C:/Users/apala/BOOTCAMP/python_challenge/Starter_Code/PyBank/Resources/budget_data.csv")

In [193]:
## Displaying CSV using Pandas 
budget_data = pd.read_csv(csv_path)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [194]:
#Printing number of dates in sample 

Date_Frequency1 = budget_data["Date"].count()
date_frequency = print("Total Months:  " +  str(Date_Frequency1))

Total Months:  86

In [195]:
#Net profit made over the period 

Net_Profit1 = budget_data["Profit/Losses"].sum()

Net_Profit = print("Net Profit:  " + "$"+str(Net_Profit1))

Net Profit:  $38382578

In [196]:
#Average Change in Prices 

change_profit = budget_data["Profit/Losses"].diff()
avg_change = change_profit.mean()
avg_change2  = round(avg_change, 2)
Average_Change = print("Average Change:  " + "$"+ str(avg_change2))

Average Change:  $-2315.12

In [205]:
#creating new dataframe 
budget_data['Change in Profit'] = budget_data["Profit/Losses"].diff()

budget_data.head()

       Date  Profit/Losses  Change in Profit
0  Jan-2010         867884               NaN
1  Feb-2010         984655          116771.0
2  Mar-2010         322013         -662642.0
3  Apr-2010         -69417         -391430.0
4  May-2010         310503          379920.0

In [199]:
max_change_profit = budget_data['Change in Profit'].max()

max_change_profit

1926159.0

In [204]:
max_change_date = budget_data.loc[budget_data['Change in Profit'] == '-334262']

max_change_date

Empty DataFrame
Columns: [Date, Profit/Losses, Change in Profit]
Index: []

1926159.0